body {
    background-color:lightgreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
    margin: 0px;
}

* {
    box-sizing: border-box
}

header {
    background-color: rgb(255, 207, 117);
    padding: 5px;
    margin: 20px 70px 0px 70px;
    border-radius: 200%;
}

main {
    padding: 10px;
}


footer{
    background-color: rgb(255, 117, 117);
    padding: 10px;
}


.text {
    width: 40em;
    padding: 10px;
    border: 10px solid rgb(250, 250, 132);
    background: rgb(255, 187, 160);
    margin: auto;
    border-radius: 30px;
}

h1 {
   color: darkcyan;
   text-decoration: underline;
   letter-spacing: 2px;
   font-size: 60px;
   font-family: Georgia, 'Times New Roman', Times, serif
}


li {
    list-style-type: none;
    display: inline;
    margin-right: 30px;
}


a {
    color: darkorange;
}

.text {
    color: darkolivegreen;
}


blockquote {
    color: rgb(248, 77, 77);
}

a#search {
    color: rgb(28, 116, 28);
}

a#search:hover {
    color: aquamarine;
}

a#search:active{
    color: yellow;
}

a:hover {
    color: aquamarine;
}

a:active {
    color: yellow;
}


/* suppilovahvero */