body {
    background-color:lightgreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h1 {
   color: darkcyan;
   text-decoration: underline;
   letter-spacing: 2px;
   font-size: 40px;
   font-family: Georgia, 'Times New Roman', Times, serif
}


a {
    color: darkorange;
}

#text {
    color: darkolivegreen;
}

a:hover{
    background-color: aquamarine;
}

a:active{
    background-color: green;
}

    
a:hover {
    color: aquamarine;
}

a:active {
    color: yellow;
}