body {
    background-color:lightgreen;
}


h1 {
   color: darkcyan;
   text-decoration: underline;
   letter-spacing: 2px;
   font-size: 60px;
}


a {
    color: darkorange;
}

#text {
    color: darkolivegreen;
}


blockquote {
    color: red;
}

a#search {
    color: darkgreen;
}

a#search:hover {
    color: aquamarine;
}

a#search:active{
    color: yellow;
}

a:hover {
    color: aquamarine;
}

a:active {
    color: yellow;
}