* {
    box-sizing: border-box
}

.header { grid-area: header; }
.image1 { grid-area: image1; }
.image2 { grid-area: image2; }
.image3 { grid-area: image3; }
.image4 { grid-area: image4; }
.image5 { grid-area: image5; }
.image6 { grid-area: image6; }
.image7 { grid-area: image7; }
.image8 { grid-area: image8; }
.nav {grid-area: nav; }
.empty { grid-area: empty; }
.footer { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
    'header header'
    'nav nav'
    'image1 image2 '
    'image3 image4'
    'image5 image6'
    'image7 image8'
    'empty empty'
    'footer footer';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    background-color:lightgreen;
    text-align:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px auto;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
}

body{
    background-color: lightgreen;
    margin: 0px;
}

.header {
    background-color: #FCF8EA;
    padding: 5px;
    margin: 40px 120px 10px 120px;
    border-radius: 200px;
}

.footer{
    background-color: rgb(255, 117, 117);
    padding: 10px;
    margin-top: 70px;
}

h1 {
   color: #47A83F;
   text-decoration: underline;
   letter-spacing: 2px;
   font-size: 40px;
   font-family: Georgia, 'Times New Roman', Times, serif
}


li {
    list-style-type: none;
    display: inline;
    margin-right: 30px;
}


a {
    color: darkorange;
}

a:hover{
    background-color: aquamarine;
}

a:active{
    background-color: green;
}

    
a:hover {
    color: aquamarine;
}

a:active {
    color: yellow;
}


@media screen and (max-width: 736px){
    .grid-container {
    display: grid;
    grid-template-areas:
    'header'
    'nav'
    'image1'
    image2'
    'image3'
    image4'
    'image5'
    image6'
    'image7'
    image8'
    'empty'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color:lightgreen;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    width: 100%;
  }
  .header{
    border-radius: 200px;
  }

  h1{
    font-size: 7vw;
  }

  .image1{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
  .image2{
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }
  .image3{
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }
  .image4{
    grid-row: 6 / 7;
    grid-column: 1 / 2;
  }
  .image5{
    grid-row: 7 / 8;
    grid-column: 1 / 2;
  }
  .image6{
    grid-row: 8 / 9;
    grid-column: 1 / 2;
  }
  .image7{
    grid-row: 9 / 10;
    grid-column: 1 / 2;
  }
  .image8{
    grid-row: 10 / 11;
    grid-column: 1 / 2;
  }
  .empty{
    grid-row: 12 / 13;
    grid-column: 1 / 2;
    padding: 2px;
  }
  .footer{
    grid-row: 13 / 14;
    grid-column: 1 / 2;
  }
}



